.characterPage {
    height: 100vh;
    background-image: url(../../assets/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

.characterCard{
  display: inline-block;
  width: 1500px;
  border: 1px solid black;
  padding-top: 200px;
  text-align: center;
}

.characterInfo {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  background-color: #74b7b5;
  border-color: red;
  border-style: solid;
  border: 1px;
  height:400px;
  max-width: fit-content;
  font-size: 24.4px;
  font-family: locationFont;
  letter-spacing: 2px;
}


