.clickedPlanet {
  height: 100vh;
  background-image: url(../../assets/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.clickedCard {
  display: inline-block;
  width: 1500px;
  border: 1px solid black;
  padding-top: 200px;
  text-align: center;

}

.clickedDetails {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  background-color: #74b7b5;
  height: 400px;
  max-width: fit-content;
  font-size: 26px;
  font-family: locationFont;
  letter-spacing: 2px;
}

.backFromDetails {
  display: flex;
  justify-content: center;
  color: #05dc2d;
  font-size: 30px;
  letter-spacing: 2px;
}